# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env
.venv/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Others
*.log
*.sqlite3

# FAISS index & mapping
app/data/faiss_index.index
app/data/faiss_mapping.npy

# Uploaded files
uploads/
